<h1>Edit ya surveysss bruh</h1>

<%= form_with model: @survey, url: survey_path, method: :put do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :questions %><br>
    <%= form.text_area :questions %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>