<h1>Surveys Y'all</h1>

<% @surveys.each do |survey| %>
<div>
  <ul>
      <%= survey.title %>
      <%= survey.questions %>
      <%= link_to 'Show', survey_path(survey) %>
      <%= link_to 'Edit', edit_survey_path(survey)%>
      <%= link_to 'Delete', survey_path(survey), method: :delete, data: { confirm: "Are you sure?" }%>
   </ul>
  </div>
  <% end %>

<br>
<%= button_to 'New Survey', new_survey_path, method: :get%>
<%= button_to "Back", root_path, method: :get%>
