<%= form_with model: @survey, url: surveys_path do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :questions %><br>
    <%= form.text_area :questions %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= button_to "Back", surveys_path, method: :get %>